name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag (e.g., v1.0.0)'
        required: true
        type: string
  push:
    tags:
      - "v*.*.*"

jobs:
  create-dmg:
    uses: ./.github/workflows/build_dmg.yml
    secrets: inherit

  release:
    needs: create-dmg

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Set dmg filename
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            TAG="${{ github.event.inputs.tag }}"
          else
            TAG="${GITHUB_REF#refs/tags/}"
          fi
          DMG_FILE="EmacsCtl-${TAG}.dmg"
          echo "DMG_FILE: $DMG_FILE"
          echo "DMG_FILE=$DMG_FILE" >> $GITHUB_ENV
        env:
          GITHUB_REF: ${{ github.ref }}

      - name: Download dmg
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.DMG_FILE }}

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.inputs.tag || github.ref_name }}
          files: |
            ${{ env.DMG_FILE }}

  update:
    needs: release
    permissions:
      contents: read
      pages: write
      id-token: write
    uses: ./.github/workflows/update.yml
    secrets: inherit
